html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: #fff;
}

/* WhatsApp Button */
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 55px;
  height: 55px;
  background: #25D366;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  line-height: 55px;
  z-index: 99999;
}

/* Call Button */
.call-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 55px;
  height: 55px;
  background: #0a58ca;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
  line-height: 55px;
  z-index: 99999;
}

.whatsapp-float i,
.call-float i {
  color: #fff;
}
